@import "./customVariables.scss";

@mixin links-body {
  color: $accent-two;
  text-decoration: none;
  box-shadow: 0px 2px 1px -1px $accent-two;
  -webkit-box-shadow: 0px 2px 1px -1px $accent-two;
  &:hover,
  &:focus {
    text-decoration: none;
    box-shadow: none;
  }
}

@mixin links-nav {
  color: $accent-two;
  text-decoration: none;
  font-weight: 700;
  &:hover,
  &:focus {
    box-shadow: 0px 2px 1px -1px $accent-two;
    -webkit-box-shadow: 0px 2px 1px -1px $accent-two;
  }
}

@mixin header-footer-shadow($direction) {
  box-shadow: 0px $direction 1px -1px rgba($accent-one, 0.5);
  -webkit-box-shadow: 0px $direction 1px -1px rgba($accent-one, 0.5);
}

@mixin button-color() {
  background-color: $accent-one;
  border-color: $accent-one;
  &:hover {
    background-color: scale-color($color: $accent-one, $lightness: -30%);
  }
}

@mixin tech-details-visible() {
  visibility: visible;
  background-color: $accent-one;
  padding: 0.5rem;
  transition: visibility 0.2s linear, background-color 0.25s linear;
  z-index: 30;
}

html {
  font-family: $body-font;
  font-size: 18px;
  position: relative;
  min-height: 100%;
  @media screen and (max-width: 576px) {
    font-size: 16px;
  }
}
body {
  font-size: 1rem;
  font-family: $body-font;
  background-color: scale-color($primary, $lightness: 90%);
}
nav.navbar {
  background: $primary;
  @include header-footer-shadow(3px);
  @media screen and (max-width: 576px) {
    position: fixed;
    top: 0;
    z-index: 1020;
    width: 100%;
  }
  .navbar-brand {
    font-size: 1.5rem;
    font-family: $logo-font;
    transform: rotate(-8deg);
  }
  .navbar-toggler-icon {
    background-image: $mobile-hamburger-icon;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .navbar-nav {
    max-width: max-content;
    .nav-link {
      @include links-nav();
      padding: 0;
      margin: 0.5rem;
      @media screen and (max-width: 567px) {
        max-width: max-content;
        margin-left: auto;
      }
    }
  }
}
#intro {
  @media screen and (max-width: 576px) {
    padding-top: 60px;
  }
}
hr.heading-underline {
  width: 12rem;
  max-width: 75%;
  height: 0.5rem;
  border-radius: 4px;
  color: $primary;
  opacity: 1;
}
.project {
  border: 2px solid $primary;
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: white;
  .project-spacer {
    margin: 1rem;
  }
  .project-image {
    width: 100%;
    background: transparent no-repeat top;
    background-size: cover;
    position: relative;
    cursor: help;
    &.position-left {
      background-position: left;
    }
    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    .project-tech {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      border-radius: 4px;
      visibility: hidden;
      transition: visibility 0.2s linear, background-color 0.25s linear;
      color: white;
    }

    &:hover,
    &:focus,
    &:active {
      .project-tech {
        @include tech-details-visible();
      }
    }
    @media (hover: none) and (pointer: coarse) {
      .display-tech {
        .project-tech {
          @include tech-details-visible();
        }
      }
    }
  }
  hr.project-title-underline {
    width: 6rem;
    text-align: center;
    height: 0.5rem;
    border-radius: 4px;
    color: $accent-one;
    opacity: 0.5;
  }
  button.btn-primary {
    @include button-color();
  }
  .project-info {
    a {
      @include links-body();
    }
    &:hover {
      a {
        margin-left: 1rem;
      }
      &::after {
        background: transparent no-repeat right;
        background-image: $mobile-hamburger-icon;
        background-size: 0.75rem;
        display: inline-block;
        width: 1rem;
        height: 1rem;
        content: "";
      }
    }
  }
}
.modal {
  button.btn-secondary {
    @include button-color();
  }
}
#footer-spacer {
  min-height: 3rem;
}
.footer {
  background-color: $primary;
  @include header-footer-shadow(-3px);
  padding-top: 12px;
  padding-bottom: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  .footer-link {
    border-radius: unset;
    @include links-nav();
  }
  #footer-credits a {
    @include links-nav();
    font-weight: 400;
  }
}
